*

!.gitignore
!*.yml
!*.yaml
!*.md
!*.conf
!*.txt
!.env.example

!/traefik/
!/fail2ban/
!/fail2ban/data/
!/fail2ban/data/filter.d/
!/fail2ban/data/jail.d/
!/authelia/
!/authelia/secrets/
!/authelia/tmp/
!/jackett/
!/jackett/config/
!/jackett/downloads/
!/jellyfin/
!/jellyfin/config/
!/jellyfin/transcode/
!/portainer/
!/portainer/data/
!/qbittorrent/
!/qbittorrent/config/
!/radarr/
!/radarr/config/
!/sonarr/
!/sonarr/config/
!/traefik/